<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"
      ><img
        src="assets/images/logo.png"
        alt=""
        style="width: 4em;height: 1.5em;"
    /></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action
      class="control-item"
      href="mailto:ampengg.operations@gmail.com"
      icon="email-outline"
    ></nb-action>
    <nb-action class="control-item" href="mailto:ampengg.operations@gmail.com"
      ><span style="color: #5284f9;font-size: 1.15em;"
        >AMPENGG.OPERATIONS@GMAIL.COM</span
      ></nb-action
    >
  </nb-actions>
</div>
